In [1]:
a = "aditi"
l = [1,2,3,4,'a','b',"cat","apple"]
f = 23.45
t =("cat","mat","rat")

In [3]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [4]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [5]:
a = int(input())
b = int(input())
print(a/b)
print(a%b)
print(a//b)
print(a**b)

 10
 5

2.0
0
2
100000

In [6]:
k = [1,2,3,4,8.5,"aditi",'a',"pwskills",9,10]
for i in k:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
8.5
<class 'float'>
aditi
<class 'str'>
a
<class 'str'>
pwskills
<class 'str'>
9
<class 'int'>
10
<class 'int'>

In [7]:
a = int(input())
b = int(input())
count = 0
if a%b==0:
    print("\n a is purely divisible by b ")
    while a%b==0:
        count=count+1
        a=a//b
print(count)

 10
 5

 a is purely divisible by b
1

In [ ]:
k = [3,6,9,12,15,18,21,24,27,30,32,33,34,36,38,40,49,90,98,99,100,112,115,120,126]
for i in k:
    if i%3==0:
        print("\n It is divisible by 3")
    else:
        print("\n It is not divisible by 3")

 It is divisible by 3

 It is divisible by 3

 It is divisible by 3

 It is divisible by 3

 It is divisible by 3

 It is divisible by 3

 It is divisible by 3

 It is divisible by 3

 It is divisible by 3

 It is divisible by 3

 It is not divisible by 3

 It is divisible by 3

 It is not divisible by 3

 It is divisible by 3

 It is not divisible by 3

 It is not divisible by 3

 It is not divisible by 3

 It is divisible by 3

 It is not divisible by 3

 It is divisible by 3

 It is not divisible by 3

 It is not divisible by 3

 It is not divisible by 3

 It is divisible by 3

 It is divisible by 3

In [9]:
# Mutable : Changes can be possible
#Immutable : changes are not possbile
l = [1,2,"aditi",'p','k']
l[2]="pawar"

In [10]:
l

[1, 2, 'pawar', 'p', 'k']

In [11]:
t = "tower"
t[0]=k

TypeError: 'str' object does not support item assignment