In [12]:
import pandas as pd

In [15]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
data = pd.array(['4', '8', '15', '16', '23', '42'])
 
ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: string

In [26]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#variable print it.


l = [0,1,2,3,4,5,6,7,8,9]

ser = pd.Series(l)
print(ser)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [27]:
#Q3. Create a Pandas DataFrame that contains the following data:

dataFrame = {'Name' : ['Alice','Bob','Claire'] ,'Age' :['25','30','27'],'Gender':['Female','Male','Female'] }
df = pd.DataFrame(dataFrame)
print(df)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

In [ ]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of 
#it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas 
#object.
#1)Series are 1-D, whereas Dataframe are 2-D. 2)Series consists of homogeneous data, whereas dataframe consists of
#heterogeneous data. 3)series are value mutable whereas dataframe are not.

In [ ]:
'''Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

--> Series are mutable in nature'''

In [29]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

import pandas as pd

name = pd.Series(["Sona","Mona","Dora","Minkey"])
classes = pd.Series(['fy','sy','ty','final'])
prn  = pd.Series(['21CSE21','21UAI062','21CSE063','21UAD065'])

df=pd.concat([name,classes,prn],axis)
print(df)

0        Sona
1        Mona
2        Dora
3      Minkey
0          fy
1          sy
2          ty
3       final
0     21CSE21
1    21UAI062
2    21CSE063
3    21UAD065
dtype: object